.header {
    background: rgb(103, 207, 241);
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.header input {
    height: 33px;
    width: 800px;
}

.card {
    box-shadow: 3px 3px 3px 3px gray;
    margin: 20px;
    padding: 10px;
    width: 250px;
    height: 350px;
}

/* .card div {
    margin-top: 10px;
} */

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    box-shadow: 3px 3px 3px 3px gray;
    width: 300px;
    height: 100%;
    position: absolute;
    background: rgb(232, 232, 247);
    opacity: 0.9;
    padding: 10px;
}

.navbar div {
    padding: 20px;
}

.navbar div:hover,
.active {
    background: rgb(52, 52, 230);
}

.cardContent {
    display: flex;
    justify-content: space-between;
}

.cardIcon {
    margin-right: 25px;
}

.favoriteRight {
    margin-right: 45px;
}